body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

#container {
    position: relative;
    width: 80vw; /* Исходная ширина для широких экранов */
    height: 50vh; /* Исходная высота для широких экранов */
    margin: 0 auto;
    border: 2px solid grey;
    overflow: hidden;
    pointer-events: none;
    background-color: black;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.info {
    margin-top: 50vh;
    padding: 20px;
    background-color: black;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    #container {
        width: 90vw; /* Уменьшаем ширину для устройств с меньшим разрешением */
        height: 40vh; /* Уменьшаем высоту для устройств с меньшим разрешением */
    }

    .info {
        margin-top: 60vh;
    }
}

@media (min-width: 769px) {
    #container {
        width: 60vw; /* Увеличиваем ширину для более широких экранов */
        height: 60vh; /* Увеличиваем высоту для более широких экранов */
    }

    .info {
        margin-top: 60vh;
    }
}

